[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = ruthmira-1risjc
	email = 152284068+ruthmira-1risjc@users.noreply.github.com
[safe]
	directory = C:\\Users\\ruth.silva\\Desktop\\Docusaurus-1r1sjc\\actions-runner\\_work\\Docusaurus-1r1sjc\\Docusaurus-1r1sjc
